{% extends "auctions/layout.html" %}
{% load crispy_forms_tags %}

{% block body %}
<div>
    <h2>Listing: {{object.title}}</h2>
</div>
    <div class="container" style="padding-left: 0;">
        <div>
            <img src="{{ object.img_url }}">
        </div>
        <br>
        <div>
            <p class="article-content">{{ object.description }}</p>
        </div>
        <br>
        <div>
            <h3 style="font-weight: bold;">${{ object.starting_bid }}.00</h3>
        </div>
        <div>
            <form action="{% url 'listing_detail' object.pk %}" method='post'>
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group mt-4">
                    <button class="btn btn-outline-info" type="submit">Place bid</button>
                </div>
            </form>
        </div>
        <div>
            <h5>Details</h5>
            <ul>
                <li>Listed by: {{ object.user.username }}</li>
                {% if object.category %}
                    <li>Category: {{ object.category }}</li>
                {% else %}
                    <li>Category: No category listed</li>
                {% endif %}
                {% if object.date_listed %}
                     <li>Created: {{ object.date_listed }} </li>
                {% endif %}
            </ul>
        </div>
    </div>
{% endblock %}
